body {
    margin: 0;
    padding: 0;
}

.container{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(coke2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar {
    max-width: 1200px;
    margin: auto;
}

.nav{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav li{
    display: inline-block;
}

.nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: arial;
    font-size: 18px;
}

.nav li a:hover{
    border: 4px solid white;
    border-radius: 2px;
    font-weight: bold;
}

.logosec img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    float: left;
    padding-top: 5px;
}

.welcome{
    padding-top: 45px;
    width: 1200px;
    margin-left: 100px;
}

.welcome h1{
    color: white;
    text-align: center;
    font-size: 60px;
    margin-top: 200px;
    margin-left: 70px;
}

.welcome p{
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.signinlink{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

